// Файл обнуляющих стилей
@import "nullstyle.scss";
//ШРИФТЫ
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}

.blogs{
	background: url('/img/background.png') 0 0/100% 100% no-repeat;;
	&__container{
		max-width: 800px;
		padding: 60px 10px 100px;
		margin: 0 auto;
	}
	&__img{
		display: block;
		margin: 0 auto 50px;
	}
	&__items{
		background-color: #fff;
	}
	&__item{
		max-height: 545px;
		height: 100%;
		position: relative;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 400;
		padding-bottom: 35px;
	}
	&__photo{
		& img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__main{
		position: absolute;
		top: 30%;
		left: 0;
		padding-left: 60px;
		max-width: 505px;
		width: 100%;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		color: #fff;
	}
	&__info{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		& img{
			margin-right: 14px;
		}
		& p{
			&:first-child{
				font-size: 18px;
				line-height: 19px;
			}
			&:last-child{
				font-size: 13px;
				line-height: 19px;
			}
		}
	}
	&__title{
		font-size: 28px;
		line-height: 35px;
	}
	&__description{
		overflow: hidden;
		height: 115px;
		font-size: 18px;
		line-height: 25px;
		color: #333333;
		padding: 36px 78px 15px 60px;
	}
	&__btn{
		background-color: transparent;
		font-family: 'Lato', sans-serif;
		padding-left: 60px;
		font-weight: 400;
		font-size: 17px;
		line-height: 30px;
		color: #8D4FDB;
		&:hover{
			color: burlywood;
		}
	}
	&__footer{
		background: #F1F1F1;
		padding: 50px 0 60px;
		font-family: 'Montserrat';
		text-align: center;
		& h3{
			font-size: 30px;
			line-height: 36px;
			color: #333333;
			margin-bottom: 21px;
		}
		& button{
			display: block;
			max-width: 182px;
			width: 100%;
			margin: 0 auto;
			padding: 8px 0;
			background-color: #8D4FDB;
			border-radius: 3px;
			font-size: 10px;
			line-height: 30px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #FFFFFF;
			&:hover{
				background-color: burlywood;
				transition: 0.5s;
			}
		}
	}
}

.features{
	padding: 85px 0 90px;
	background-color: #fff;
	&__container{
		max-width: 960px;
		margin: 0 auto;
		font-family: 'Montserrat';
	}
	&__title{
		font-size: 40px;
		line-height: 40px;
		color: #333333;
		margin-bottom: 25px;
		text-align: center;
	}
	&__subtitle{
		font-family: 'Lato';
		font-size: 23px;
		line-height: 33px;
		color: #A9AFB3;
		margin-bottom: 50px;
		text-align: center;
	}
	&__items{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item{
		position: relative;
		max-width: 300px;
		margin: 0 10px 20px 10px;
	}
	&__author{
		display: flex;
		padding-left: 24px;
		position: absolute;
		top: 47%;
		left: 0;
	}
	&__info{
		margin-left: 10px;
		font-size: 14px;
		line-height: 19px;
		color: #fff;
	}
	&__description{
		font-size: 18px;
		line-height: 28px;
		color: #000000;
		margin-top: 23px;
	}
	&__link{
		margin-top: 56px;
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
		color: #333333;
	}
	&__btn{
		color: #8D4FDB;
		padding-left: 5;
		font-size: 15px;
		&:hover{
			color: burlywood;
		}
	}
}

.footer{
	padding: 55px 0 45px;
	background: #000000;
	font-family: 'Lato';
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: #8B8B8B;
	& p:first-child{
		margin-bottom: 10px;
	}
	& span{
		color: #8D4FDB;
	}
}

@media (max-width: 777px) {
	.blogs{
		&__container{
			padding: 30px 10px 30px;
		}
		&__img{
			margin: 0 auto 30px;
		}
		&__item{
			padding-bottom: 15px;
		}
		&__main{
			top: 20%;
		}
		&__info{
			margin-bottom: 10px;
			& p{
				&:first-child{
					font-size: 16px;
				}
				&:last-child{
					font-size: 14px;
				}
			}
		}
		&__title{
			font-size: 20px;
			line-height: 28px;
		}
		&__description{
			height: 140px;
		}
		&__footer{
			padding: 20px 0 30px;
			& h3{
				font-size: 24px;
			}
		}
	}

	.features{
		padding: 30px 0 30px;
		&__title{
			font-size: 26px;
			margin-bottom: 0;
		}
		&__subtitle{
			font-size: 18px;
		}
		&__description{
			font-size: 16px;
			line-height: 24px;
			margin-top: 12px;
		}
		&__link{
			margin-top: 0;
		}
	}

	.footer{
		padding: 30px 0 30px;
		font-size: 12px;
		line-height: 16px;
	}
}

@media (max-width: 590px) {
	.blogs{
		&__item{
			height: 415px;
		}
		&__main{
			top: 10%;
			padding-left: 30px;
		}
		&__info{
			& p{
				&:first-child{
					font-size: 13px;
				}
				&:last-child{
					font-size: 12px;
				}
			}
		}
		&__title{
			padding-right: 10px;
			font-size: 16px;
			line-height: 22px;
		}
		&__description{
			font-size: 14px;
			padding: 15px 30px 15px 30px;
		}
		&__btn{
			padding-left: 30px;
			font-size: 14px;
		}
		&__footer{
			& h3{
				font-size: 18px;
				margin-bottom: 0;
			}
			& button{
				padding: 5px 0;
			}
		}
	}

	.features{
		&__title{
			font-size: 22px;
		}
		&__subtitle{
			font-size: 16px;
			margin-bottom: 20px;
		}
		&__info{
			font-size: 12px;
		}
		&__description{
			font-size: 14px;
			line-height: 20px;
		}
		&__link{
			font-size: 14px;
		}
	}
}

@media (max-width: 400px) {
	.blogs{
		&__item{
			height: 380px;
		}
		&__main{
			top: 6%;
			padding-left: 20px;
		}
		&__info{
			margin-bottom: 0;
			& img{
				width: 30px;
				margin-right: 10px;
			}
			& p{
				&:first-child{
					font-size: 13px;
				}
				&:last-child{
					font-size: 11px;
				}
			}
		}
		&__title{
			font-size: 14px;
			line-height: 18px;
		}
		&__description{
			font-size: 12px;
			padding: 10px 20px 10px 20px;
		}
		&__btn{
			padding-left: 20px;
			font-size: 12px;
		}
		&__footer{
			& h3{
				font-size: 16px;
			}
		}
	}
}


.open{
	height: auto;
}